
.page-wrapper{
  background-color: #1dcbde;
  align-items: center;
  font-family: Verdana;
  font-size: medium;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-option {
  display: flex;
  column-gap: 20px;
  width: 600px;
  flex-wrap: nowrap;
}

#header-option-select { 
  display: flex;
  height: 24px;
  flex-grow: 2;
}
#header-option-add {
  height: 24px;
  width: 176px;
  flex-grow: 0;
}

.selected-headers-list {
  padding-top: 10px;
  color: rgb(114, 18, 225);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  justify-content: space-between;
  width: 600px;
}

#selected-column-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#column-header {
  flex-grow: 4;
}
#header-option-remove {
  height: 24px;
  width: 176px;
  flex-grow: 0;
}
.length-input {
  padding-bottom: 30px;
  justify-content: space-between;
}
#csv-label {
  padding-right: 40px;
  font-family: sans-serif;
  font-size: 20px;
}
#input-label {
margin-left: 8px;
}

.toggle {
  margin-bottom: 20px;
  margin-top: 10px;
}